/node_modules
/public/hot
/public/storage
/storage/*.key

/public/css

vendor/*
!vendor/laravel
vendor/laravel/*
!vendor/laravel/fortify
vendor/laravel/fortify/*
!vendor/laravel/fortify/src
vendor/laravel/fortify/src/*
!vendor/laravel/fortify/src/Rules


.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
